.loadBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.mat-progress-spinner{
  left:calc(50% - 50px);
  top:calc(50% - 50px);
  position: fixed;
  z-index: 999;
}
